@import "_breakpoints";

.carrer__list__child {
  li {
    padding-left: 1.2em;
    text-indent: -1.2em;;
    list-style: none;
    &:before {
      content: "●";
      color:$color-black;
      padding-right: .2em;
    }
  }
}

.carrer__box {
  border-bottom: 2px dashed $color-black;
  margin-bottom: 40px;
  padding-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
